/*===========================================
=            1 - Fontes / Icones            =
===========================================*/
/*=====  End of 1 - Fontes / Icones  ======*/
/*=====================================
=            2 - Variaveis            =
=====================================*/
/*=====  End of 2 - Variaveis  ======*/
/*===================================
=            3 - Funcoes            =
===================================*/
/*=====  End of 3 - Funcoes  ======*/
/*==================================
=            4 - Mixins            =
==================================*/
/*=====  End of 4 - Mixins  ======*/
/*=================================
=            5 - Reset            =
=================================*/
* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  list-style-type: none;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  padding-inline-start: 0;
  font-family: 'Open Sans', sans-serif;
}
body {
  color: #414141;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
  top: 0 !important;
  font-weight: 500;
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  background-attachment: scroll;
}
input[type="radio"] {
  appearance: radio;
  -moz-appearance: radio;
  -webkit-appearance: radio;
}
input[type="radio"]:checked {
  appearance: radio;
  -moz-appearance: radio;
  -webkit-appearance: radio;
}
a {
  cursor: pointer;
  text-decoration: none !important;
  transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  will-change: auto;
}
button {
  cursor: pointer;
  background-color: unset;
  transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  will-change: auto;
}
::selection {
  color: #ffffff;
  background: #000000;
  text-shadow: none;
}
::-moz-selection {
  color: #ffffff;
  background: #000000;
  text-shadow: none;
}
[type="submit"] {
  cursor: pointer;
}
[aria-disabled] {
  touch-action: none;
  pointer-events: none;
  color: lightgray !important;
}
.required {
  border: 1px solid red !important;
}
.btn-enviar,
.btn {
  transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  will-change: auto;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear {
  clear: both;
}
.clearfix {
  overflow: auto;
  zoom: 1;
}
.container {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 10px;
}
.container-large {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 10px;
}
/*=====  End of 5 - Reset  ======*/
/*================================
=            6 - Base            =
================================*/
.field {
  width: 100%;
  border: 1px solid #ffffff;
  font-size: 12px;
  line-height: 16px;
  padding: 9px 80px 9px 15px;
  background-color: #ffffff;
  display: block;
  border-radius: 8px;
  -o-border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
.submit-btn {
  color: #ffffff;
  font-size: 14px;
  line-height: 19px;
  font-weight: 700;
  background-color: #6e4b87;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  border-radius: 8px;
  -o-border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
.submit-btn:focus {
  background-color: #422755;
}
.page .page-title {
  text-align: center;
  margin-bottom: 45px;
}
.page .page-title h1 {
  color: #ffffff;
  font-size: 24px;
  line-height: 41px;
  font-weight: 800;
  padding: 64px 45px 55px;
  background-color: #422755;
  position: relative;
}
.page .page-title h1:after {
  right: 0;
  width: 0;
  bottom: 0;
  height: 0;
  z-index: 4;
  content: '';
  position: absolute;
  border-bottom: 20px solid #ffffff;
  border-right: 100vw solid transparent;
}
.page .page-title p {
  color: #422755;
  font-size: 16px;
  line-height: 22px;
  padding: 20px 45px 0;
}
.page .content {
  text-align: center;
}
.page .content .controls {
  padding: 30px 16px;
  background-color: #feaf3d;
  border-radius: 8px;
  -o-border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
.page .content .controls form {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  display: block;
}
.page .content .controls form .submit-btn {
  top: 0;
  right: 0;
  width: 70px;
  height: 100%;
  position: absolute;
}
.page .content .controls .order-control {
  text-align: justify;
}
.page .content .controls .order-control:after {
  content: '';
  display: inline-block;
  width: 100%;
}
.page .content .controls .order-control label {
  width: 100%;
  color: #ffffff;
  font-size: 14px;
  text-align: right;
  line-height: 19px;
  font-weight: 600;
  max-width: calc(100% - 213px);
  display: inline-block;
  vertical-align: middle;
}
.page .content .controls .order-control select {
  width: 193px;
  font-size: 14px;
  line-height: 19px;
  background-color: #ffffff;
  padding: 7px 20px 7px 30px;
  background-repeat: no-repeat;
  background-position: 90% center;
  background-image: url(../../images/carret-down.png);
  display: inline-block;
  vertical-align: middle;
  border-radius: 8px;
  -o-border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
.page .content .task-list {
  margin: 37px 0 47px;
}
.page .content .task-list .task-item {
  height: 210px;
  position: relative;
  padding: 16px 11px;
  text-align: justify;
  margin-bottom: 24px;
  border: 1px solid #000000;
  display: block;
  border-radius: 14px;
  -o-border-radius: 14px;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
}
.page .content .task-list .task-item:after {
  content: '';
  display: inline-block;
  width: 100%;
}
.page .content .task-list .task-item:last-child {
  margin-bottom: 0;
}
.page .content .task-list .task-item .task-tag {
  top: 21px;
  left: -5px;
  color: #ffffff;
  font-size: 12px;
  padding: 7px 17px;
  line-height: 16px;
  position: absolute;
  font-weight: 700;
  border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
}
.page .content .task-list .task-item .task-tag.small {
  background-color: #422755;
}
.page .content .task-list .task-item .task-tag.late {
  background-color: #f04837;
}
.page .content .task-list .task-item figure {
  display: inline-block;
  vertical-align: top;
}
.page .content .task-list .task-item figure img {
  width: 100vw;
  height: 100vh;
  max-width: 147px;
  max-height: 178px;
  object-fit: cover;
}
.page .content .task-list .task-item .task-content {
  width: 100%;
  min-width: 48%;
  max-width: calc(100% - 160px);
  display: inline-block;
  vertical-align: top;
}
.page .content .task-list .task-item .task-content .task-nm {
  margin-top: 6px;
  font-size: 14px;
  line-height: 19px;
  font-weight: 700;
}
.page .content .task-list .task-item .task-content .task-ds {
  color: #000000;
  margin: 7px 0;
  text-align: left;
  font-size: 11px;
  overflow: hidden;
  line-height: 14px;
  display: -webkit-inline-box;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4px;
  max-height: 56px;
  /*max-height: @fsize*@lineh*@linhas+@add;*/
}
.page .content .task-list .task-item .task-content .task-dl {
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
}
.page .content .task-list .task-item .task-content .task-dl span {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #f04837;
}
.page .content .task-list .task-item .task-content .task-dt {
  margin: 7px 0 0;
  font-size: 10px;
  line-height: 13px;
}
.page .content .task-list .task-item .task-content .task-actions .end-task {
  width: 100%;
  margin: 9px 0 5px;
  color: #422755;
  font-size: 16px;
  font-weight: 700;
  padding: 5px 8px;
  line-height: 21px;
  text-align: center;
  border: 1px solid #422755;
  display: block;
  border-radius: 8px;
  -o-border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
.page .content .task-list .task-item .task-content .task-actions .end-task:focus {
  color: #ffffff;
  background-color: #422755;
}
.page .content .task-list .task-item .task-content .task-actions .change-dl {
  top: 0;
  right: 0;
  padding: 16px 14px;
  position: absolute;
}
.page .content .task-list .task-item .task-content .task-actions .change-dl svg path {
  fill: #f04837;
}
.page .content .task-list .task-item .task-content .task-actions .change-dl span {
  display: none;
}
.page .content .load-more {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  padding: 5px 32px;
  line-height: 21px;
  background-color: #6e4b87;
  border-radius: 8px;
  -o-border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
.page .content .load-more:focus {
  background-color: #422755;
}
.page .content form.news {
  visibility: hidden;
  margin: 138px auto 107px;
  display: none;
}
footer .footer-infos {
  padding: 4vw 0;
}
footer .footer-infos .container {
  padding: 40px 25px;
  text-align: center;
}
footer .footer-infos .container .image-logo {
  display: block;
}
footer .footer-infos .container .image-logo picture img,
footer .footer-infos .container .image-logo img {
  width: 100%;
  height: auto;
  max-width: 157px;
  margin: 0 auto 40px;
  display: block;
}
footer .footer-infos .container .text p {
  margin: 16px 0;
  font-size: 12px;
  line-height: 16px;
  display: block;
}
footer .footer-infos .container .text p:last-child {
  margin: 0;
}
footer .copyright {
  background-color: #422755;
}
footer .copyright .container {
  padding: 34px 53px 43px;
}
footer .copyright .container p {
  color: #ffffff;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  display: block;
}
@media (min-width: 720px) {
  .submit-btn:hover {
    background-color: #422755;
  }
  .page .page-title {
    position: relative;
    padding: 140px 10px;
    margin-bottom: 56px;
    background-color: #422755;
  }
  .page .page-title h1 {
    font-size: 36px;
    line-height: 49px;
    position: static;
    padding: 0 0 28px;
  }
  .page .page-title p {
    font-size: 18px;
    line-height: 25px;
    color: #ffffff;
  }
  .page .content .controls {
    width: 100%;
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-flow: row wrap;
    justify-content: space-around;
    -webkit-justify-content: space-around;
  }
  .page .content .controls form {
    width: 310px;
    margin-bottom: 0;
  }
  .page .content .controls .order-control {
    width: 310px;
    text-align: center;
  }
  .page .content .controls .order-control label {
    width: auto;
    max-width: inherit;
  }
  .page .content .controls .order-control:after {
    content: unset;
    display: none;
  }
  .page .content .task-list {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-flow: row wrap;
    justify-content: space-around;
    -webkit-justify-content: space-around;
  }
  @supports (display: grid) {
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(253px, 1fr));
  }
  .page .content .task-list .task-item {
    width: 253px;
    height: 360px;
    padding: 19px 16px;
    margin-bottom: 35px;
    display: inline-block;
    transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    will-change: auto;
  }
  .page .content .task-list .task-item:hover {
    border-bottom: 0;
    border-radius: 14px 14px 0 0;
    -o-border-radius: 14px 14px 0 0;
    -moz-border-radius: 14px 14px 0 0;
    -webkit-border-radius: 14px 14px 0 0;
    -webkit-box-shadow: 5px 5px 10px 0 0px 5px 7px black;
    box-shadow: 5px 5px 10px 0 0px 5px 7px black;
  }
  .page .content .task-list .task-item:hover .task-content .task-actions {
    top: 100%;
    z-index: 1;
    opacity: 1;
    visibility: visible;
  }
  .page .content .task-list .task-item:after {
    content: unset;
    display: none;
  }
  .page .content .task-list .task-item .task-tag {
    top: 25px;
    left: -9px;
  }
  .page .content .task-list .task-item figure {
    display: block;
  }
  .page .content .task-list .task-item figure img {
    max-width: 218px;
    max-height: 183px;
  }
  .page .content .task-list .task-item .task-content {
    display: block;
    max-width: inherit;
    width: 100%;
  }
  .page .content .task-list .task-item .task-content .task-ds {
    width: 100%;
    height: 100%;
    font-size: 12px;
    overflow: hidden;
    line-height: 16px;
    display: -webkit-inline-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    max-height: 48px;
    /*max-height: @fsize*@lineh*@linhas+@add;*/
  }
  .page .content .task-list .task-item .task-content .task-actions {
    left: -1px;
    right: 0;
    top: 50%;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    position: absolute;
    padding: 0 16px 19px;
    border: 1px solid #000000;
    border-top: 0;
    background-color: #ffffff;
    width: calc(100% + 2px);
    display: block;
    border-radius: 0 0 14px 14px;
    -o-border-radius: 0 0 14px 14px;
    -moz-border-radius: 0 0 14px 14px;
    -webkit-border-radius: 0 0 14px 14px;
    transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    will-change: auto;
  }
  .page .content .task-list .task-item .task-content .task-actions .end-task {
    margin: 0;
    color: #ffffff;
    line-height: 28px;
    background-color: #422755;
    border: 1px solid #422755;
  }
  .page .content .task-list .task-item .task-content .task-actions .end-task:hover {
    background-color: #6e4b87;
  }
  .page .content .task-list .task-item .task-content .task-actions .change-dl {
    width: 100%;
    color: #ffffff;
    margin-top: 8px;
    font-size: 16px;
    font-weight: 700;
    padding: 5px 8px;
    line-height: 28px;
    position: relative;
    text-align: center;
    background-color: #f04837;
    border: 1px solid #f04837;
    display: block;
    border-radius: 8px;
    -o-border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
  }
  .page .content .task-list .task-item .task-content .task-actions .change-dl:hover {
    color: #ffffff;
    background-color: #feaf3d;
  }
  .page .content .task-list .task-item .task-content .task-actions .change-dl svg {
    margin-right: 7px;
    display: inline-block;
    vertical-align: middle;
  }
  .page .content .task-list .task-item .task-content .task-actions .change-dl svg path {
    fill: currentColor;
  }
  .page .content .task-list .task-item .task-content .task-actions .change-dl span {
    display: inline-block;
    vertical-align: middle;
  }
  .page .content .load-more:hover {
    background-color: #422755;
  }
  .page .content form.news {
    width: 100%;
    max-width: 876px;
    text-align: left;
    padding: 22px 45px;
    visibility: visible;
    background-color: #e5e5e5;
    border-radius: 8px;
    -o-border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    display: block;
  }
  .page .content form.news fieldset {
    height: 80px;
    text-align: justify;
    width: calc(100% - 107px);
    display: inline-block;
    vertical-align: bottom;
  }
  .page .content form.news fieldset:after {
    content: '';
    display: inline-block;
    width: 100%;
  }
  .page .content form.news fieldset legend {
    color: #6e4b87;
    font-size: 14px;
    text-align: left;
    line-height: 19px;
    font-weight: 700;
    margin-bottom: 25px;
    display: block;
  }
  .page .content form.news .control {
    width: calc(50% - 6px);
    display: inline-block;
    position: relative;
  }
  .page .content form.news .control label {
    left: 5px;
    bottom: 101%;
    color: #757575;
    font-size: 12px;
    line-height: 16px;
    position: absolute;
  }
  .page .content form.news .submit-btn {
    width: unset;
    height: unset;
    padding: 8px 16px;
    display: inline-block;
  }
  footer .footer-infos {
    padding: 0 0 48px;
  }
  footer .footer-infos .container {
    text-align: left;
    max-width: 990px;
  }
  footer .footer-infos .container .image-logo {
    float: left;
  }
  footer .footer-infos .container .image-logo picture img,
  footer .footer-infos .container .image-logo img {
    max-width: inherit;
  }
  footer .footer-infos .container .text {
    float: right;
    max-width: 700px;
    width: calc(100% - 250px);
  }
  footer .footer-infos .container .text p {
    font-size: 12px;
    line-height: 16px;
  }
  footer .footer-infos .container:after {
    clear: both;
    content: '';
    display: table;
  }
}
